.field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1%;
}

.field input{
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}

.field input::placeholder {
  color: #7b7b7b;
}